## Import Modules

In [3]:
import pandas as pd
import numpy as np
import os
from prophet import Prophet

c:\ProgramData\Anaconda3\envs\prop_exp_env\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Load Dataset

In [4]:
# Read property sales data.
property_sales_df = pd.read_csv(r"Dataset\raw_sales.csv")

## Prepare Dataset for Prophet.

In [6]:
# Get first five rows of the dataframe.
property_sales_df.head()

              datesold  postcode   price propertyType  bedrooms
0  2007-02-07 00:00:00      2607  525000        house         4
1  2007-02-27 00:00:00      2906  290000        house         3
2  2007-03-07 00:00:00      2905  328000        house         3
3  2007-03-09 00:00:00      2905  380000        house         4
4  2007-03-21 00:00:00      2906  310000        house         3

In [8]:
# Rename columns to follow prophet data input format.
property_sales_df = property_sales_df.rename(columns = {
                                                        "datesold":"ds", 
                                                        "price":"y"
                                                       }
                                            )

# Remove unnecessary columns from the data.
property_sales_df = property_sales_df.drop(columns = ["propertyType", "postcode"])